<div id="locales">
    <a href="#fr">fr</a> - <a href="#en">en</a>
</div>

<div class="title">
    <h1>Todos</h1>
</div>

<div class="content">

    <div id="create-todo">
        <input id="new-todo" placeholder="{{labels.tobedone}}" type="text" />
        <span class="ui-tooltip-top" style="display:none;">{{labels.pressenter}}</span>
    </div>

    <div id="todos">

    </div>

    <div id="todo-stats">

    </div>

</div>

</div>

<div id="credits">
    {{labels.i18nby}} <a href="https://github.com/sdeleuze/">S&eacute;bastien Deleuze</a>.<br />
    {{labels.modularizedby}} <a href="http://backbonetutorials.com">Thomas Davis</a>.<br />
    {{labels.originallyby}} <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>.
</div>