<div id='MOAR{{model.id}}' class="sitetable listing">
	<div class="thing morechildren">
		<div class="entry unvoted">
			<div class="collapsed" style="display:none">
			</div>
			<div class="noncollapsed">
				<span class="morecomments">
				<a data-id='{{model.id}}' data-children='{{model.children}}' style="font-size: smaller; font-weight: bold" class="button MOAR "  href="#" >load more comments<span class="gray">&nbsp;({{model.childrenCount}} {{model.replyVerb}})</span></a></span>
				<ul class="flat-list buttons">
				</ul>
			</div>
		</div>
		<div class="child"></div>
	</div>

</div>