<div id='MOAR{{model.id}}' class="sitetable listing ">
		<div class="entry unvoted morecomments">
		<a data-id='{{model.id}}' data-children='{{model.children}}'  class="button MOAR "  href="#" >load more comments
			<span class="gray">&nbsp;({{model.childrenCount}} {{model.replyVerb}})</span></a>
		</div>
</div>