<div class="thing comment">

<div id='{{model.id}}' class="comment " {{#if model.is_user}} style='min-height:65px;' {{/if}}>
	<div class="midcol {{model.voted}} midcol{{model.id}} ">
		<div class="arrow upArrow {{model.upmod}} upArrow{{model.id}}"  role="button" aria-label="upvote" tabindex="0">
		</div>
		<div class="arrow downArrow {{model.downmod}} downArrow{{model.id}}"  role="button" aria-label="downvote" tabindex="0">
		</div>
	</div>
		 {{#if model.thumbnail}}
			<a href='{{model.permalink}}'><img src='{{model.thumbnail}}' class='thumbnail'/></a>
		{{/if}}
	<div class="entry unvoted">
		<div class="collapsed collapsed{{model.id}}" style="display:none">
			<a href="#" class="expand" >[+]</a>
				 {{#if model.is_user}}
				 	<a href='{{model.permalink}}' style='height:65px;' class='title'>{{model.title}}</a>
				 {{/if}}
			<a class="author" href="/user/{{model.author}}" target="_blank">{{model.author}}</a>
			<span class="userattrs"></span>
				<span class="score unvoted">{{model.score}} points</span>
	
			<time title="{{model.timePretty}}" datetime="{{model.timeUgly}}">{{model.timeAgo}}</time> ago &nbsp;
			  {{#if model.edited}}
                        			<span>(*lasted edited {{model.editedTimeAgo}} ago)</span>

                   		 {{/if}}
			<a href="#" class="expand">({{model.childrenCount}} {{model.childOrChildren}})</a>
		</div>
	<div class="noncollapsed noncollapsed{{model.id}}">
			<p class="tagline">
				<a href="#" class="expand" >[–]</a>
				 {{#if model.is_user}}

				 	<a href='{{model.permalink}}' class='title'>{{model.title}}</a>
				 {{/if}}
				<a class="author" href="/user/{{model.author}}" target="_blank">{{model.author}}</a>
				<span class="userattrs"></span>
					<span class="score unvoted">{{model.score}} points</span>

				<time title="{{model.timePretty}}" datetime="{{model.timeUgly}}">{{model.timeAgo}}</time> ago
				{{#if model.edited}}				
                        			<span>* (lasted edited {{model.editedTimeAgo}} ago)</span>

                   			 {{/if}}

                   			 {{#if model.is_user}}	
                   			 	<span> in <a href='/r/{{model.subreddit}}'>{{model.subreddit}}</a>
                   			 {{/if}}


			</p>
			<form action="#" class="usertext">
				<input type="hidden" name="thing_id" value="t1_cbtb7as">
				<div class="usertext-body">
					<div class="md">
						<p>
							{{{model.body_html}}}
						</p>
					</div>
				</div>
			</form>
			<ul class="flat-list buttons" >
				<li class="first"><a href="{{model.permalink}}" class="bylink" rel="nofollow">permalink</a></li>
				<li>
				<span class="toggle remove-button" data-id='{{model.id}}'>
					<span class="option main active">
					<a href="#" id='report{{model.id}}' class="togglebutton report">report</a></span>
					<span id='reportConfirm{{model.id}}' class="option error">are you sure? <a href="#" id='reportConfirmYes{{model.id}}' class="yes reportConfirmYes">yes</a> / <a href="#" id='reportConfirmNo{{model.id}}' class="no reportConfirmNo" >no</a></span>
				</span>
				</li>
				<li><a  data-bypass href="http://reddit.com/gold?goldtype=gift&amp;months=1&amp;comment={{model.name}}"  target='_blank' title="give reddit gold in appreciation of this comment." class="give-gold login-required">give gold</a></li>
				<li><a data-id='{{model.id}}' class='replyToggle' href="#" >reply</a></li>
			</ul>
		</div>
	</div>
	<div id='{{model.name}}' class="child{{model.name}} child child{{model.id}}">

<form action="#" class="usertext cloneable commentreply" id="commentreply{{model.id}}" data-id='{{model.id}}' style="display: none;">
	<div class="usertext-edit" style="width: 500px;"><div>
		<textarea rows="1" cols="1" name="text" id='text{{model.id}}'></textarea>
	</div>
	<div class="bottom-area">
		<span data-id='{{model.id}}' class="help-toggle toggle" style="">
			<a id="mdHelpShow{{model.id}}"  class="option active mdHelpShow" href="#" tabindex="100">formatting help</a>
			<a id="mdHelpHide{{model.id}}"  class="option mdHelpHide" href="#">hide help</a></span>
			<a href="http://reddit.com/wiki/reddiquette" data-bypass class="reddiquette" target="_blank" tabindex="100">reddiquette</a>
			
			<div class="usertext-buttons">
				<button type="submit" class="save">save</button>
				<button type="button"  class="cancel cancelComment" data-id='{{model.id}}' style="">cancel</button>
				<span class="status{{model.id}}"></span>
			</div>
	</div>
</form>
	<div id="mdHelp{{model.id}}" class="markhelp" style="display:none">



	</div>

</div>