<div class="thing id-t1_cbtb7as comment " data-fullname="{{model.name}}" data-ups="{{model.ups}}" data-downs="{{model.downs}}">
	<p class="parent">

	</p>
	<div class="midcol {{model.voted}} ">
		<div class="arrow {{model.upmod}} "  role="button" aria-label="upvote" tabindex="0">
		</div>
		<div class="arrow {{model.downmod}} "  role="button" aria-label="downvote" tabindex="0">
		</div>
	</div>
	<div class="entry unvoted">
		<div class="collapsed" style="display:none">
			<a href="#" class="expand" >[+]</a><a class="author gray id-t2_1mmxj" href="/user/{{model.author}}" target="_blank">{{model.author}}</a>
			<span class="userattrs"></span>
				<span class="score dislikes">{{mode.scoreDown}}</span>
				<span class="score unvoted">{{mode.score}}</span>
				<span class="score likes">{{mode.scoreUp}}</span>
			<time title="{{model.timePretty}}" datetime="{{model.timeUgly}}">{{model.timeAgo}}</time> ago &nbsp;
			<a href="#" class="expand">({{model.childrenCount}} {{model.childOrChildren}})</a>
		</div>
		<div class="noncollapsed">
			<p class="tagline">
				<a href="#" class="expand" >[–]</a>
				<a class="author id-t2_1mmxj" href="/user/{{model.author}}" target="_blank">{{model.author}}</a>
				<span class="userattrs"></span>
					<span class="score dislikes">{{mode.scoreDown}}</span>
					<span class="score unvoted">{{mode.score}}</span>
					<span class="score likes">{{mode.scoreUp}}</span>
				<time title="{{model.timePretty}}" datetime="{{model.timeUgly}}">{{model.timeAgo}}</time> ago
			</p>
			<form action="#" class="usertext"  id="form-t1_cbtb7as33m">
				<input type="hidden" name="thing_id" value="t1_cbtb7as">
				<div class="usertext-body">
					<div class="md">
						<p>
							{{{model.body_html}}}
						</p>
					</div>
				</div>
			</form>
			<ul class="flat-list buttons">
				<li class="first"><a href="{{model.permalink}}" class="bylink" rel="nofollow">permalink</a></li>
				<li class="comment-save-button">
				<form action="/post/save" method="post" class="state-button save-button">
					<input type="hidden" name="executed" value="unsave"><span><a href="#" >save</a></span>
				</form>
				</li>
				<li>
				<form class="toggle remove-button " action="#" method="get">
					<input type="hidden" name="executed" value="spammed">
					<span class="option main active">
					<a href="#" class="togglebutton">spam</a></span>
					<span class="option error">are you sure? <a href="#" class="yes">yes</a> / <a href="#" class="no" >no</a></span>
				</form>
				</li>
				<li>
				<form class="toggle remove-button " action="#" method="get">
					<input type="hidden" name="executed" value="removed">
					<input type="hidden" name="spam" value="False">
					<span class="option main active">
					<a href="#" class="togglebutton" >remove</a></span>
					<span class="option error">are you sure? <a href="#" class="yes" >yes</a> / <a href="#" class="no">no</a></span>
				</form>
				</li>
				<li><a  data-bypass href="http://reddit.com/gold?goldtype=gift&amp;months=1&amp;comment=t1_cbtb7as"  target='_blank' title="give reddit gold in appreciation of this comment." class="give-gold login-required">give gold</a></li>
				<li><a class="" href="#" >reply</a></li>
			</ul>
		</div>
	</div>
	<div id='{{model.name}}' class="child">
		
	</div>
	<div class="clearleft">
		<!--IE6sux-->
	</div>
</div>