
	<div class="panestack-title">
		<span class="title">all {{model.num_comments}} {{model.commentsPlural}}</span>
	</div>
	<div class="menuarea" style='border-bottom: none;'>
		<div class="spacer">
			<span class="dropdown-title lightdrop ">sorted by: </span>
			<div class="dropdown lightdrop " onclick="open_menu(this)" onmouseover="hover_open_menu(this)">
				<span class="selected">best</span>
			</div>
			<div class="drop-choices lightdrop ">
				<form method="POST" action="http://www.reddit.com/comments/1ktzvz">
					<input type="hidden" name="sort" value="confidence"><a href="http://www.reddit.com/comments/1ktzvz?sort=confidence" class="choice selected" onclick="$(this).parent().submit(); return false;">best</a>
				</form>
				<form method="POST" action="http://www.reddit.com/comments/1ktzvz">
					<input type="hidden" name="sort" value="top"><a href="http://www.reddit.com/comments/1ktzvz?sort=top" class="choice " onclick="$(this).parent().submit(); return false;">top</a>
				</form>
				<form method="POST" action="http://www.reddit.com/comments/1ktzvz">
					<input type="hidden" name="sort" value="new"><a href="http://www.reddit.com/comments/1ktzvz?sort=new" class="choice " onclick="$(this).parent().submit(); return false;">new</a>
				</form>
				<form method="POST" action="http://www.reddit.com/comments/1ktzvz">
					<input type="hidden" name="sort" value="hot"><a href="http://www.reddit.com/comments/1ktzvz?sort=hot" class="choice " onclick="$(this).parent().submit(); return false;">hot</a>
				</form>
				<form method="POST" action="http://www.reddit.com/comments/1ktzvz">
					<input type="hidden" name="sort" value="controversial"><a href="http://www.reddit.com/comments/1ktzvz?sort=controversial" class="choice " onclick="$(this).parent().submit(); return false;">controversial</a>
				</form>
				<form method="POST" action="http://www.reddit.com/comments/1ktzvz">
					<input type="hidden" name="sort" value="old"><a href="http://www.reddit.com/comments/1ktzvz?sort=old" class="choice " onclick="$(this).parent().submit(); return false;">old</a>
				</form>
				<form method="POST" action="http://www.reddit.com/comments/1ktzvz">
					<input type="hidden" name="sort" value="random"><a href="http://www.reddit.com/comments/1ktzvz?sort=random" class="choice hidden" onclick="$(this).parent().submit(); return false;">random</a>
				</form>
			</div>
		</div>

	</div>

	<form  class="usertext " id='comment{{model.name}}'  >
		<div class="usertext-edit" >
			<div>
				<textarea rows="1" cols="1" name="text" id='text{{model.name}}'></textarea>
			</div>
			<div class="bottom-area">
				<span class="help-toggle toggle" style="">
				<a id="mdHelpShow{{model.id}}"  class="option active " href="#" tabindex="100">formatting help</a>
				<a id="mdHelpHide{{model.id}}"  class="option " href="#">hide help</a></span>
				<a href="http://reddit.com/wiki/reddiquette" data-bypass class="reddiquette" target="_blank" tabindex="100">reddiquette</a>
			
			<div class="usertext-buttons">
				<button type="submit" class="save">save</button>

				<span class="status status{{model.name}}"></span>
			</div>
	</div>
	<div id="mdHelp{{model.id}}" class="markhelp" style="display:none">



	</div>
		</div>
	</form>
	<div class="gold-form gold-payment cloneable">
		<div class="roundfield">
			<button class="close-button">close</button><img src="http://www.redditstatic.com/reddit_gold-70.png" class="gold-logo">
			<div class="roundfield-content">
				<p>
					Want to say thanks to <em>%(recipient)s</em> for this comment? Give them a month of <a href="/gold/about">reddit gold</a>.
				</p>
				<p>
					Please select a payment method.
				</p>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="gold-checkout" data-vendor="paypal" target="_blank">
					<input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="custom" value="" class="passthrough"><input type="hidden" name="quantity" value="1"><input type="hidden" name="hosted_button_id" value="HDENEQ8QWLTML"><button type="submit" class="btn gold-button">PayPal</button>
				</form>
				<button class="btn coinbase-gold gold-button gold-checkout" data-vendor="coinbase">Bitcoin</button><input type="hidden" name="cbbaseurl" value="https://coinbase.com/checkouts/6d670dea8505cc8805ae2c00294599b2"><button class="btn stripe-gold gold-button">Credit Card</button>
				<div class="throbber">
				</div>
			</div>
		</div>
	</div>



<div id="siteTableComments" class="child{{model.name}} child">

</div>