<div class='hoverImgView'>
	<h3><span class='close'>X</span> <a data-bypass class='ahrefDescription' href='{{model.url}}' target='_blank'>{{model.ahrefDescription}} </a></h3>
	<p>{{{model.displayHtml}}}</p>
	<a data-bypass href='{{model.url}}' target='_blank'> <img src='{{model.url}}'   /> </a>
</div>