<div class='hoverImgView'>
	<div class='imgTitle'><span class='close expando-button expanded'></span> <a data-bypass class='ahrefDescription' href='{{model.url}}' target='_blank'>{{model.ahrefDescription}} </a></div>
	<div class='displayHtml'>{{{model.displayHtml}}}</div>
	<a data-bypass class='imgPreview' href='{{model.url}}' target='_blank'> <img  src=''   /> </a>
	<div class='youtubeEmbed'> {{{model.youtubeEmbed}}} </div>
</div>