<div class='block'>
	<a data-id='{{model.name}}' class='' {{model.external}} href="{{model.url}}" target="_blank">
		<img src="{{model.imgUrl}}" />
	</a>
	<div class='textGridTitle'>{{model.title}}</div>
</div>