<div class='large-thumb'>

    <div id='{{model.id}}' class="thing id-{{model.name}} {{model.evenOrOdd}} link" data-fullname="{{model.name}}" data-ups="{{model.ups}}" data-downs="{{model.downs}}">
        <span class="rank" style="width:3.30ex;">{{model.count}}</span>
        <div class="midcol {{model.voted}} " style="width:5ex;">
            <div data-id='{{model.id}}' class="arrow login-required upArrow{{model.id}} {{model.upmod}}" role='button' aria-label="upvote" tabindex="0">
            </div>
            <div class="score dislikes">
                 {{model.scoreDown}}
            </div>
            <div class="score unvoted">
                 {{model.score}}
            </div>
            <div class="score likes">
                 {{model.scoreUp}}
            </div>
            <div data-id='{{model.id}}' class="arrow login-required downArrow{{model.id}} {{model.downmod}}" role="button" aria-label="downvote" tabindex="0">
            </div>
        </div>

        <a class="thumbnail" {{model.external}} href="{{model.url}}" target="_blank"><img  class='small-thumb-for-large-view' src="{{model.thumbnail}}" ></a>

        <div class="entry {{model.voted}}">
            <p class="title">
                <a class="title loggedin" {{model.external}} href="{{model.url}}" target="_blank">{{model.title}}</a><span class="domain">(<a href="/domain/{{model.domain}}/">{{model.domain}}</a>)</span>
            </p>
            <p class="tagline">
                submitted <time datetime "{{model.timeugly}}" " title="{{model.timePretty}}">{{model.timeAgo}}</time> ago by <a class="author" href "/user/{{model.author}}" " target="_blank">{{model.author}}</a>
                <span class="userattrs"></span>to <a href="/r/{{model.subreddit}}/" class="subreddit hover">{{model.subreddit}}</a>
            </p>
            <ul class="flat-list buttons">

                <li class="first">
                <a class="comments" href="{{model.permalink}}"  target="_blank">{{model.num_comments}} comments</a>
                </li>

                <li class="share">
                <span class="share-button toggle"><a class="option active login-required" href="#">share</a></span></li>
                <li>

                <span class="state-button save-button" >
                     {{#if model.saved}}
                        <span id='unsave{{model.id}}' ><a href='#'>unsave</a></span>
                        <span id='save{{model.id}}' style='display:none;'><a href="#" >save</a></span>
                    {{else}}
                        <span id='unsave{{model.id}}' style='display:none;'><a href='#'>unsave</a></span>
                        <span id='save{{model.id}}'><a href="#" >save</a></span>
                    {{/if}}
                </span>
                </li>

                <li>
                <span class="state-button hide-button" >
                   <span><a href="#" id='hide{{model.id}}'>hide</a></span>
                </span>
                </li>
                <li>
                <span class="toggle remove-button">
                    <span class="option main active">
                    <a href="#" id='report{{model.id}}' class="togglebutton">report</a></span>
                    <span id='reportConfirm{{model.id}}' class="option error">are you sure? <a href="#" id='reportConfirmYes{{model.id}}' class="yes">yes</a> / <a href="#" id='reportConfirmNo{{model.id}}' class="no" >no</a></span>
                </span>
                </li>
            </ul>
        </div>

<div class='large-thumblink'>
    <a  {{model.external}}  href="{{model.imgUrl}}" target="_blank">
    <img class='large-img' alt="" src="{{model.imgUrl}}"/>
    </a>
</div>

 </div>



   
</div>