<div class="thing id-{{model.name}} odd link last-clicked" data-fullname="{{model.name}}" data-ups="{{model.ups}}" data-downs="{{model.downs}}">

		<div class='thumb-main'> <img src='{{model.thumbnail}}' /> </div>
          <div class="todo-content">{{model.title}}</div>
        </div>

</div>
