<div class="spacer">
            <form action="/search" id="search" name="search">
                <input class='sidebarSearch' name="q" placeholder="search reddit" type="text">
            </form>
        </div>

        <div class="spacer">
                <div id='theLogin'> </div>
        </div>

        <div class="spacer">
            <div class="sponsorshipbox"></div>
        </div>

        <div class="spacer">
            <div class="sidebox submit submit-link">
                <div class="morelink">
                    {{#if model.isFront }}
                         <a href="/submit/">Submit a new link</a>
                    {{else}}
                         <a href="/r/{{model.display_name}}/submit/">Submit a new link</a>
                    {{/if}}
                    <div class="nub"></div>
                </div>
            </div>
        </div>

        <div class="spacer">
            <div class="titlebox">
                <h1 class="hover redditname"><a class="hover" href="/r/{{model.display_name}}/">{{model.display_name}}</a></h1>
                <span class="subscribe-button fancy-toggle-button toggle" data-sr_name="{{model.display_name}}" >
                {{#if model.user_is_subscriber}}
                               <a class="option active remove" href="#" tabindex="100">unsubscribe</a>
                {{else}}
                              <a class="option active add" href="#" tabindex="100">subscribe</a>    
                    
                {{/if}}
                <a class="option add" href="#">subscribe</a></span><span class="subscribers"><span class="number">{{model.subscribers}}</span>
                <span class="word">readers</span></span>

                <p class="users-online" title="logged-in users viewing this subreddit in the past 15 minutes">
                <span class="number">{{model.accounts_active}}</span> <span class="word">users here now</span></p>

                <form action="#" class="usertext" id="form-{{model.name}}" name="form-{{model.name}}">
                    <input name="thing_id" type="hidden" value="{{model.name}}">

                    <div class="usertext-body">
                        <div class="md">
		{{{model.description_html}}} 
                        </div>
                    </div>
                </form>

                <div class="bottom">
                    <span class="age">a community for <time datetime="{{model.timeUgly}}" title="{{model.timePretty}}">{{model.timeAgo}}</time></span>
                </div>

                <div class="clear"></div>
            </div> 
        </div>

        <div class="spacer">
            <iframe frameborder="0" id="ad_main" name="ad_main" scrolling="no" src="http://static.adzerk.net/reddit/ads.html?sr=pics#http://www.reddit.com">
            </iframe>
            <script type="text/javascript">
$(function() { var ad = $("#ad_main"); if(!ad.length || ad.height() == 0 || ad.width() == 0 || ad.offset().left == 0) { $(".footer").append("<img alt='' src='http://pixel.redditmedia.com/pixel/of_defenestration.png?hash=adblock0e31bc319d5b5882b0cddf147f4ce1da5ac9c731&id=adblock&random=" + Math.random()*10000000000000000 + "'/>"); } });
            </script>
        </div>

        <div class="spacer">
            <div class="sidecontentbox">
                <a class="helplink"  href="/message/compose/armastevs">message me</a>

                <div class="title">
                    <h1>RedditJS</h1>
                </div>

                <ul class="contentSidebar">
                    <li>
                        <a class="" data-bypass href="https://github.com/BenjaminAdams/RedditJS">Github</a><span class="userattrs"></span>
                    </li>

                    <li>
                        <a class="author" data-bypass href="https://github.com/BenjaminAdams/RedditJS/issues">Report a bug/suggestions</a><span class="userattrs"></span>
                    </li>
                   
                    <li class="more">
                        <a href="/">...and stay out of trouble »</a>
                    </li>

                </ul>
            </div>
        </div>

 
 
 
 