
<div class="side"> </div>

<div class='content' role='main'>

<div id='{{model.id}}' class="sitetable linklisting">
<div class="thing id-{{model.name}} {{model.evenOrOdd}} link" data-fullname="{{model.name}}" data-ups="{{model.ups}}" data-downs="{{model.downs}}">
       <p class="parent"></p>

        <div class="midcol {{model.voted}} " style="width:5ex;">
            <div data-id='{{model.id}}' class="arrow login-required upArrow{{model.id}} {{model.upmod}}" role='button' aria-label="upvote" tabindex="0"></div>
            <div class="score dislikes">
                {{model.scoreDown}} 
            </div>
            <div class="score unvoted">
                {{model.score}}
            </div>
            <div class="score likes">
                {{model.scoreUp}}
            </div>        
          <div data-id='{{model.id}}' class="arrow login-required downArrow{{model.id}} {{model.downmod}}" role="button" aria-label="downvote" tabindex="0"></div>
        </div>


    <a class="thumbnail loggedin" {{model.external}} href="{{model.url}}" target="_blank"><img alt="" height="52" src="{{model.thumbnail}}" width="70"></a>

        <div class="entry {{model.voted}}">
            <p class="title">
      <a class="title loggedin" {{model.external}} href="{{model.url}}" target="_blank">{{model.title}}</a> 
                <span class="domain">(<a href="/domain/{{model.domain}}/">{{model.domain}}</a>)</span>
            </p>

             <p class="tagline">submitted <time datetime="{{model.timeUgly}}" title="{{model.timePretty}}">{{model.timeAgo}}</time> ago by <a class="author" href="/user/{{model.author}}" target="_blank">{{model.author}}</a>

            <span class="userattrs"></span>to <a href="/r/{{model.subreddit}}/" class="subreddit hover">{{model.subreddit}}</a>
            </p>

            <div class="expando">
                <form action="#" class="usertext" onsubmit="return post_form(this, 'editusertext')" id="form-t3_1ktzvz3sr">
                    <input type="hidden" name="thing_id" value="t3_1ktzvz">
                    <div class="usertext-body">
                    
                              {{{model.selftext_html}}}
                        
                    </div>
                </form>
            </div>


       

          <ul class="flat-list buttons">

                <li class="first">
                <a class="comments" href="{{model.permalink}}"  target="_blank">{{model.num_comments}} comments</a>
                </li>

                <li class="share">
                <span class="share-button toggle"><a class="option active login-required" href="#">share</a></span></li>
                <li>

                <span class="state-button save-button" >
                    <input name="executed" type="hidden" value="unsave" >
                        <span><a href="#">save</a></span>
                </span>
                </li>

                <li>
                <span class="state-button hide-button" >
                   <span><a href="#">hide</a></span>
                </span>
                </li>
                <li>
                <span class="toggle report-button" >
                    <input name="executed" type="hidden" value="reported" ><span class="option main active">
                    <a class="togglebutton" href="#">report</a></span>
                    <span class="option n error">are you sure? <a class="yes" href='#' >yes</a> / <a class="no" href="#" >no</a></span>
                </span>
                </li>
            </ul>


<div class="expando"><div class="usertext-body"><div class="md"><p>
{{{model.media_embed.content}}}

</p>
</div>
</div></div>






        </div>
        <div class="child">
        </div>
        <div class="clearleft">
            <!--IE6sux-->
        </div>
    </div>
    <div class="clearleft">
        <!--IE6sux-->
    </div>
</div>
</div>



<div id='commentarea'> </div>
